{% extends 'base.html.twig' %}

{% block title %}Festival La Paviotek | Fonctionnalité à venir{% endblock %}

{% block body %}

    {# Page pour les fonctionnalité à venir, en cours de préparation, ou prévu pour une prochaine version #}

    <div class="container-fluid mb-5 mt-5" style="padding-bottom: 0.5px;">
        <div class="container mb-5 mt-5">
            <div class="row mb-5 mt-5">
            <div class="col-md-1"></div>
            <div class="col-md-10 mb-5 mt-5">
                <h2>Oups, cette page est en cours de création et sera bientôt disponible. Merci de votre patience ! 💛</h2>
            </div>
            <div class="col-md-1"></div> 
            </div>
        </div>
    </div>
    

{% endblock %}