<footer style="margin-top: 150px; background-color:#1e90ff; color:#f2f2f2;">
  <!-- Grid container -->
  <div class="container p-4 pb-0 text-center">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/caroline44750" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://x.com/caro_lineaire" target="_blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/carolineaire_/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="text-center p-3" >
    <a href="{{ path('privacy') }}" style="color:#f2f2f2;margin-right:140px">Politique de confidentialité</a>
    © 2024 Copyright: La Paviotek by Carolineaire. Tous droits réservés.
    <a style="color:#f2f2f2;margin-right:200px" href="https://festival-lapaviotek.com/">festival-lapaviotek.com</a>
    <a style="text-align:right; color:#f2f2f2" href="{{ path('legal') }}">Mentions légales</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>