/* header */

.roundedImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.azy{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: rgba(226,204,115,255);
}

/* NAVBAR HEADER */

    .navbar-toggler {
        display: block !important; /* S'assure que le bouton est visible */
        border: none; /* Supprime la bordure si nécessaire */
        background-color: transparent; /* Fond transparent */
        padding: 0.25rem 0.75rem; /* Ajuste le padding */
        font-size: 1.25rem; /* Ajuste la taille de l'icône */
        color: #f2f2f2; /* Couleur de l'icône */
    }


    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        /* Utilise une icône personnalisée pour le toggler */
    }

    /* Logo centré */
    .navbar-brand img {
        max-height: 70px;
    }

    /* Bouton de connexion */
    .btn-outline-primary {
        font-size: 14px;
        padding: 8px 15px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #e0cb70;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav.open{
        width: 300px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #1e90ff;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* index */

    body {
        background-color: #f0f4ec;
        font-family: "Lato", sans-serif;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #000;
        opacity: 0.2;
        border-radius: 50%;
    }
    
    .articles{
        font-size: 2.15em;
        font-family: 'Unbounded', 'Arial Narrow', Arial, sans-serif;
        font-weight: 900;
        color: rgb(53, 53, 53);
        text-shadow: 4px 8px 16px rgba(234, 228, 142, 0.466);
    }
    
    .zxtitlerubrik{
        font-size: 1.75em;
        font-family: 'Unbounded', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        color: rgb(53, 53, 53);
        text-shadow: 4px 8px 16px rgba(234, 228, 142, 0.466);
        transition: color 0.3s ease;
    }
    
    .zxtitlerubrik:hover{
        color: #b49b30
    }
    
    .zxtitleone{
        font-size: 1.5em;
        font-weight: bold;
        font-family: 'Archivo Narrow', 'Arial Narrow', Arial, sans-serif;
        color: rgb(53, 53, 53);
        text-shadow: 4px 8px 16px rgba(234, 228, 142, 0.466);
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .zxtitleone:hover{
        color: #b49b30
    }
    
    .zxabstract{
        font-size: 1em;
        font-family: 'Archivo Narrow', 'Arial Narrow', Arial, sans-serif;
        color: rgb(53, 53, 53);
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .zxabstract:hover{
        color: #b49b30
    }
    
    .zxdate{
        font-size: 0.9em;
        color: rgb(84, 84, 84);
        font-weight: lighter;
        font-style: oblique;
    }
    
    .zxuser{
        font-size: 0.9em;
        color: rgb(84, 84, 84);
        font-weight: lighter;
        font-style: oblique;
    }
    
    .zxtitle{
        font-size: 1.25em;
        font-weight: bold;
        font-family: 'Archivo Narrow', 'Arial Narrow', Arial, sans-serif;
        color: rgb(53, 53, 53);
        text-shadow: 4px 8px 16px rgba(234, 228, 142, 0.466);
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .zxtitle:hover{
        color: #b49b30
    }
    
    .zximg{
        width: 430px;
        height: 291px;
        overflow: hidden;
        position: relative;
    }
    
    .zximg img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease;
    }
    
    .zximg:hover img{
        transform: translate(-50%, -50%) scale(1.2); 
    }
    
    .zximg::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b49b30; /* couleur noire avec transparence de 30% */
        opacity: 0;
        transition: opacity 0.5s ease;
        pointer-events: none; /* permet de s'assurer que l'élément n'interfère pas avec les interactions de la souris */
    }
    
    .zximg:hover::after {
        opacity: 0.30;
    }
    
    .yximg{
        width: 125px;
        height: 89px;
        overflow: hidden;
        position: relative;
    }
    
    .yximg img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease;
    }
    
    .yximg:hover img{
        transform: translate(-50%, -50%) scale(1.2); 
    }
    
    .yximg::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b49b30; /* couleur noire avec transparence de 30% */
        opacity: 0;
        transition: opacity 0.5s ease;
        pointer-events: none; /* permet de s'assurer que l'élément n'interfère pas avec les interactions de la souris */
    }
    
    .yximg:hover::after {
        opacity: 0.30;
    }
    
    .wimg{
        width: 150px;
        height: 107px;
        overflow: hidden;
        position: relative;
    }
    
    .wimg img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease;
    }
    
    .wimg:hover img{
        transform: translate(-50%, -50%) scale(1.2); 
    }
    
    .wimg::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b49b30; /* couleur noire avec transparence de 30% */
        opacity: 0;
        transition: opacity 0.5s ease;
        pointer-events: none; /* permet de s'assurer que l'élément n'interfère pas avec les interactions de la souris */
    }
    
    .wimg:hover::after {
        opacity: 0.30;
    }