/* NAVBAR HEADER */

    .navbar-toggler {
        display: block !important; /* S'assure que le bouton est visible */
        border: none; /* Supprime la bordure si nécessaire */
    }

    .navbar-toggler i {
        font-size: 24px; /* Définit une taille d'icône suffisante */
        color: black; /* Assure que l'icône est visible */
        visibility: visible; /* Rendre visible l'icône si elle est masquée */
    }

    /* Ajuster la largeur du Mega Menu */
    .mega-menu {
        position: fixed;
        top: 0;
        left: -300px; /* Initialement caché */
        width: 300px;
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0,0,0,0.3);
        transition: left 0.3s ease;
        z-index: 9999;
    }
    
    .mega-menu.open {
        left: 0; /* S'ouvre en venant de la gauche */
    }

    /* Logo centré */
    .navbar-brand img {
        max-height: 50px;
    }

    /* Bouton de connexion */
    .btn-outline-primary {
        font-size: 14px;
        padding: 8px 15px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }